<div class="content">
    <section>
      <h1 class="text-center">User Login</h1>
        <div class="row mt-4">
          <div class="col-12 col-md-6 p-5">
            <%= form_with url: login_path do |f| %>
              <div class="form-group">
                <%= f.text_field :email, class: 'form-control', placeholder: 'email'%>
              </div>

              <div class="form-group">
                <%= f.password_field :password, class: 'form-control', placeholder: 'password'%>
              </div>

              <div class="form-group d-flex justify-content-around">
                <%= f.submit 'Log In', class: 'btn btn-outline-primary'%>
                <%= link_to 'Back', root_path, class: 'btn btn-outline-secondary' %>
              </div>
            <% end %>
          </div>
            <div class="col-12 col-md-6">
            <p>Feel free to log in using any of the following email addresses:
            <ul>
                <li>client@example.com<br><small class="text-muted">(Client access to own site)</small></li>
                <li>technician@example.com<br><small class="text-muted">(Technician access to all sites)</small></li>
                <li>manager@example.com<br><small class="text-muted">(Manager access to all sites, user accounts, and user settings)</small></li>
            </ul>
            All demo accounts use the password: <strong>password</strong> (original, right?)
            </p>





            You can add or remove items to your hearts desire, I reset the database daily!
          </div>

    </section>
</div>
