<h1>Connections</h1>
<%= link_to 'New Connection', new_connection_path, class: 'btn btn-sm btn-outline-info my-2' %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" >Sites</th>
        <th scope="col" >Users</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @connections.each do |connection| %>
        <tr>
          <td><%= connection.title %>   </td>
          <td><%= connection.username %></td>
          <td><%= link_to 'Edit', edit_connection_path(connection), class: 'btn btn-sm btn-outline-info' %></td>
          <td><%= link_to 'Delete', connection, method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Connection', new_connection_path, class: 'btn btn-sm btn-outline-info my-2' %>
