<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= link_to @connection.title, Site.find(@connection.site_id).url %>
</p>

<p>
  <strong>Users:</strong>
  <%= link_to @connection.user.name, @connection.user %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection), class: 'btn btn-sm btn-outline-info' %>
<%= link_to 'Destroy', @connection, method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', connections_path, class: 'btn btn-sm btn-outline-primary' %>
