<h1>Equipment#all</h1>
<p>Find me in app/views/equipment/all.html.erb</p>
<% @equipment.each do |item| %>
    <% item = item.fields %>
    <p>Make: <%= item["Make"] %></p>
    <p>Type: <%= item["Type"] %></p>
    <p>Model: <%= item["Model"] %></p>
    <p>Serial: <%= item["Serial"] %></p>
    <p>Attachments:</p>
<% item["Attachments"].each do |pic| %>
        <a href="<%= pic["url"] %>">
        <%= image_tag pic["thumbnails"]["large"]["url"] %>
        </a>
    <% end %>
<% end %>
