<h1>All Equipment</h1>
<% @equipment.each do |item| %>
    <h2>Item # <%= item.number %>: <%= item.make %> <%= item.type %></h2>
    <p>Model: <%= item.model %>, Serial: <%= item.serial %></p>
    <p><%= link_to 'Equipment Page', item.url %></p>
    <p>Attachments:</p>
    <% if item.attachments? %>
        <% item.attachments.each do |pic| %>
                <a href="<%= pic["url"] %>">
                <%= image_tag pic["thumbnails"]["large"]["url"] %>
                </a>
        <% end %>
    <% end %>
<% end %>

<%= @equipment.inspect %>