  <%= simple_form_for @user do |f| %>
  <div class="row">
<div class = 'col-md-8'>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :permission_id, as: :select, collection: Permission.all, label_method: :title %>
    <%= f.submit "Save", class: 'btn btn-lg btn-outline-primary float-right' %>
</div>
  </div>
  <% end %>