<h1>Users</h1>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th scope="col" class="<%=  table_large %>">Name</th>
      <th scope="col" class="<%=  table_large %>">Email</th>
      <th scope="col" class="<%=  table_large %>">Level</th>
      <th scope="col" class="<%=  table_large %>">Sites</th>

      <th scope="col" class="<%=  table_small %>">Name<br>Email</th>
      <th scope="col" class="<%=  table_small %>">Level<br>Sites</th>
    </tr>
  </thead>

  <tbody>

<% @users.each do |users| %>
  <%= render 'users/list', users: users %>
<% end %>
  </tbody>
</table>
<br>

<%= link_to 'New User', new_user_path, class: 'btn btn-sm btn-outline-info' %>
