<p id="notice"><%= notice %></p>

<h1>Permissions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Value</th>
      <th>Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.title %></td>
        <td><%= permission.value %></td>
        <td><%= pluralize(permission.users.count, 'user') %></td>
        <td><%= link_to 'Show', permission, class: 'btn btn-sm btn-outline-primary' %></td>
        <td><%= link_to 'Edit', edit_permission_path(permission), class: 'btn btn-sm btn-outline-info' %></td>
        <td><%= link_to 'Delete', permission, method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission', new_permission_path, class: 'btn btn-sm btn-outline-info' %>
