<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @permission.title %>
</p>

<p>
  <strong>Value:</strong>
  <%= @permission.value %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
