<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @permission.title %>
</p>

<p>
  <strong>Value:</strong>
  <%= @permission.value %>
</p>
<p>
  <strong>Users:</strong>
  <ul>
  <% @permission.users.each do |u| %>
    <li><%= link_to u.name, u %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_permission_path(@permission), class: 'btn btn-sm btn-outline-info' %>
<%= link_to 'Back', permissions_path, class: 'btn btn-sm btn-outline-secondary' %>
