<div class="table-responsive mt-3">
    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="<%=  table_large %>">Site</th>
            <th scope="col" class="<%=  table_large %>">#</th>
            <th scope="col" class="<%=  table_large %>">Address</th>
            <th scope="col" class="<%=  table_large %>">Equipment</th>
            <% if access_level 2 %>
                <th scope="col" class="<%=  table_large %>">Clients</th>
            <% end %>

            <th scope="col" class="<%=  table_small %>"><%= icon('fas', 'clipboard-list') %> Site</th>
            <th scope="col" class="<%=  table_small %>"><%= icon('fas', 'tools') %></th>
            <% if access_level 2 %>
              <th scope="col" class="<%=  table_small %>"><%= icon('fas', 'user') %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @sites.each do |item| %>
            <tr class="siterow">
                <td scope="row" class="<%=  table_large %>">
                    <a href="<%= item.url %>"> <%= item.title %>
                    </a>
                </td>
                <td class="<%=  table_large %>">
                    <a href="<%= item.url %>"><span class="badge badge-pill badge-primary">
                        <%= item.number %></span>
                    </a>
                </td>
                <td class="<%=  table_large %>">
                    <%= item.address %>
                </td>
                <td class="<%=  table_large %>">
                    <%= item.num_equipment %>
                </td>
                <td scope="row" class="<%=  table_small %>">
                    <a href="<%= item.url %>"> <%= item.title %> <span class="badge badge-pill badge-primary">
                        <%= item.number %></span>
                    </a><br>
                     <%= item.address %>
                </td>
                <td class="<%=  table_small %>">
                    <%= item.num_equipment %>
                </td>
                <% if access_level 2 %>
                    <td class="<%=  table_large %>">
                        <%= item.num_connections %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
    </table>
</div>