<h1>All Sites</h1>
<table>
<% @sites.each do |item| %>
    <tr>
        <td><a href="<%= item.url %>">#<%= item.fields["SiteNumber"] %> <%= item.fields["Name"] %></a></td>
        <td><%= item.fields["SiteAddress"] %>, <%= item.fields["SiteCity"] %> <%= item.fields["Postal Code"] %></td>




    </tr>
<% end %>
</table>