<h1>All Sites</h1>
<% @sites.each do |item| %>
    <h2>Site # <%= item.fields["SiteNumber"] %>: <%= item.fields["Name"] %></h2>
    <p>Address: <%= item.fields["SiteAddress"] %>, <%= item.fields["SiteCity"] %> <%= item.fields["Postal Code"] %></p>
        <p><a href="/sites/<%= item.id %>">Site Page</a></p>
<% end %>