<h1>All Sites</h1>
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Site</th>
            <th>#</th>
            <th>Address</th>
            <th>Quantity of Equipment</th>
        </tr>
    </thead>
    <tbody>
        <% @sites.each do |item| %>
            <tr>
                <td>
                    <a href="<%= item.url %>"> <%= item.fields["Name"] %>
                    </a>
                </td>
                <td>
                    <a href="<%= item.url %>"><span class="badge badge-pill badge-primary">
                        <%= item.fields["SiteNumber"] %></span>
                    </a>
                </td>
                <td>
                    <%= item.fields["SiteAddress"] %>, <%= item.fields["SiteCity"] %> <%= item.fields["Postal Code"] %>
                </td>
                <td>
                    <%= item.num_equipment %>
                </td>
            </tr>
        <% end %>
    </tbody>
    </table>
</div>