<h1>Sites</h1>
<% if @search %>
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <%= form_with method: :get, url: sites_index_path, local: true, enforce_utf8: false, class: 'input-group' do |f| %>
                <div class="input-group-prepend">
                    <%= link_to 'All Sites', {url: sites_index_path, params: {q: ""}}, class: 'btn btn-outline-primary rounded-left' %>
                </div>
                <%= f.text_field :q, id: :q, placeholder: 'Search', class: 'form-control' %>
                <div class="input-group-append">
                    <%= f.submit 'Submit', name: nil, class: "btn btn-outline-primary" %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
    <% if @sites.nil? %>
        <p class="text-center my-5 text-muted">Browse all sites, or search for something specific!</p>
    <% elsif @sites.any? %>
        <%= render 'sites/sites' %>
    <% elsif @sites.empty? %>
        <p class="text-center my-5 text-muted">No results</p>
    <% end %>