<h1>All Sites</h1>
<div class="table-responsive">
    <table class="table table-striped">
    <% @sites.each do |item| %>
        <tr>
            <td>
                <a href="<%= item.url %>"> <%= item.fields["Name"] %>
                </a>
            </td>
            <td>
                <a href="<%= item.url %>"><span class="badge badge-pill badge-primary">
                    <%= item.fields["SiteNumber"] %></span>
                </a>
            </td>
            <td>
                <%= item.fields["SiteAddress"] %>, <%= item.fields["SiteCity"] %> <%= item.fields["Postal Code"] %>
            </td>




        </tr>
    <% end %>
    </table>
</div>