
    <h1>#<%= @site.fields["SiteNumber"] %>: <%= @site.fields["Name"] %></h1>
    <p><%= @site.fields["SiteAddress"] %>, <%= @site.fields["SiteCity"] %> <%= @site.fields["Postal Code"] %></p>
    <h2>Site Equipment:</h2>
    <table>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>Make</th>
            <th>Model</th>
            <th>Serial</th>
            <th>View Equipment</th>
            <th>Attachments</th>
        </tr>
        <% @equipment.each do |item| %>
        <tr>
            <td><%= item.fields["#"] %></td>
            <td><%= item.fields["Type"] %></td>
            <td><%= item.fields["Make"] %></td>
            <td><%= item.fields["Model"] %></td>
            <td><%= item.fields["Serial"] %></td>
            <td><a href="/equipment/<%= item.id %>">View</a></td>
            <td><% if !item.fields["Attachments"].nil? %>
                <% item.fields["Attachments"].each do |pic| %>
                        <a href="<%= pic["url"] %>">
                        <%= image_tag pic["thumbnails"]["small"]["url"] %>
                        </a>
                <% end %>
            <% end %></td>
        </tr>
        <% end %>
    </table>
