<div class="d-flex justify-content-between">
<div>
    <h1><%= @site.fields["Name"] %> </h1>
</div>
<div>
    <h2><span class="badge badge-pill badge-primary"><%= @site.fields["SiteNumber"] %></span></h2>
</div>

</div>
<p>
<%= @site.fields["SiteAddress"] %>, <%= @site.fields["SiteCity"] %> <%= @site.fields["Postal Code"] %></p>
<h2>Site Equipment:</h2>
<div class="table-responsive">
    <table class="table  ">
        <tr>
            <th class="<%=  table_large %>" scope="col">#</th>
            <th class="<%=  table_large %>" scope="col">Type</th>
            <th class="<%=  table_large %>" scope="col">Make</th>
            <th class="<%=  table_large %>" scope="col">Model</th>
            <th class="<%=  table_large %>" scope="col">Serial</th>
            <th class="<%=  table_large %>" scope="col">Attachments</th>
            <th class="<%=  table_large %>" scope="col">More</th>

            <th class="<%=  table_small %>" scope="col">#</th>
            <th class="<%=  table_small %>" scope="col"><%= icon('fas', 'clipboard-list') %></th>
            <th class="<%=  table_small %>" scope="col"><%= icon('fas', 'paperclip') %></th>
        </tr>
        <% @equipment.each do |item| %>
            <tr>
                <th scope="row" class="<%=  table_large %>"><%= link_to item.url do %><span class="badge badge-pill badge-info"><%= item.number %></span><% end %></th>
                <td class="<%=  table_large %>"><%= item.type %></td>
                <td class="<%=  table_large %>"><%= item.make %></td>
                <td class="<%=  table_large %>"><%= item.model %></td>
                <td class="<%=  table_large %>"><%= item.serial %></td>
                <td class="<%=  table_large %>"><%= item.num_attachments %></td>
                <td class="<%=  table_large %>"><%= link_to 'View', item.url %></td>

                <th scope="row" class="<%=  table_small %>">
                    <%= link_to item.url do %>
                        <span class="badge badge-pill badge-info">
                            <%= item.number %>
                        </span>
                    <% end %>
                </th>
                <td class="<%=  table_small %>">
                    <%= link_to item.type, item.url %><br>
                    <%= item.make %><br>
                    <span class="text-muted">M: </span><%= item.model %></strong><br>
                    <span class="text-muted">S: </span><%= item.serial %>
                </td>
                <td class="<%=  table_small %>"><%= item.num_attachments %></td>
            </tr>
        <% end %>
    </table>
</div>
