
    <h1><%= @site.fields["Name"] %></h1>
    <p><span class="badge badge-pill badge-primary"><%= @site.fields["SiteNumber"] %></span> <%= @site.fields["SiteAddress"] %>, <%= @site.fields["SiteCity"] %> <%= @site.fields["Postal Code"] %></p>
    <h2>Site Equipment:</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th class="<%=  table_large %>" scope="col">#</th>
                <th class="<%=  table_large %>" scope="col">Type</th>
                <th class="<%=  table_large %>" scope="col">Make</th>
                <th class="<%=  table_large %>" scope="col">Model</th>
                <th class="<%=  table_large %>" scope="col">Serial</th>
                <th class="<%=  table_large %>" scope="col">Attachments</th>
                <th class="<%=  table_large %>" scope="col">More</th>

                <th class="<%=  table_small %>" scope="col">#</th>
                <th class="<%=  table_small %>" scope="col"><%= icon('fas', 'clipboard-list') %></th>
                <th class="<%=  table_small %>" scope="col"><%= icon('fas', 'paperclip') %></th>
            </tr>
            <% @equipment.each do |item| %>
            <tr>
                <th scope="row" class="<%=  table_large %>"><a href="/equipment/<%= item.id %>"><span class="badge badge-pill badge-info"><%= item.fields["#"] %></span></a></th>
                <td class="<%=  table_large %>"><%= item.fields["Type"] %></td>
                <td class="<%=  table_large %>"><%= item.fields["Make"] %></td>
                <td class="<%=  table_large %>"><%= item.fields["Model"] %></td>
                <td class="<%=  table_large %>"><%= item.fields["Serial"] %></td>
                <td class="<%=  table_large %>"><%= item.fields["Attachments"].count %></td>
                <td class="<%=  table_large %>"><%= link_to 'View', "/equipment/#{item.id}" %></td>

                <th scope="row" class="<%=  table_small %>">
                    <a href="/equipment/<%= item.id %>">
                        <span class="badge badge-pill badge-info">
                            <%= item.fields["#"] %>
                        </span>
                    </a>
                </th>
                <td class="<%=  table_small %>"><%= link_to item.fields["Type"], "/equipment/#{item.id}" %><br>
                <%= item.fields["Make"] %><br>
                <span class="text-muted">M: </span><%= item.fields["Model"] %></strong><br><span class="text-muted">S: </span><%= item.fields["Serial"] %></td>
                <td class="<%=  table_small %>"><%= item.fields["Attachments"].count %></td>
            </tr>
            <% end %>
        </table>
    </div>
