<!DOCTYPE html>
<html>
  <head>
    <title>Airtable API</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-secondary">
  <%= render 'layouts/admin_navbar' if admin? %>
  <%= render 'layouts/user_navbar' if access_level 0 %>
    <div class="my-4 container bg-white p-3 rounded">
        <%= render 'layouts/messages' %>
        <%= yield %>
    </div>
        <p class="text-center">
            <%= link_to 'Contact Alan', 'https://www.alanvardy.com/contact', class: 'btn btn-sm btn-outline-warning', target: '_blank' %>
            <%= link_to 'Admin Login', session_new_path, class: 'btn btn-sm btn-outline-warning' unless admin? %>
        </p>
  </body>
</html>
